.list-block {margin:0px}
.user-avatar{
  width: 29px;
  height: 29px;
  border-radius: 100%;
  position: relative;
  background-size: cover;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.page[data-page="restaurant"] .slider-container {
  margin: 35px 0;
  font-size: 18px;
  height: 200px;
}

